{% extends "layout.html" %}

{% block content %}

    <h1>The Answers</h1>
        <ol>
            <p><li>SELECT first_name, last_name FROM mentors</li></p>
            <p><li>SELECT nick_name FROM mentors<br>
            WHERE city = %(city)s</li></p>
            <p><li><a href="application_process_sample_data.sql">Click to see the changes in the databse</a><br>
                SELECT fullname FROM applicants<br>
                LIKE %Carol%</li></p>
            <p><li>SELECT fullname, phone_number FROM applicants<br>
                WHERE email LIKE %@adipiscingenimmi.edu%</li></p>
            <p><li><a href="application_process_sample_data.sql">Click to see the changes in the database</a><br>
                SELECT * FROM applicants<br>
                WHERE application_code LIKE 54823</li></p>
            <p><li>UPDATE applicants<br>
                SET phone_number='003670/223-7459'<br>
                WHERE fullname LIKE %Jemima Foreman%<br>
                <br>
                SELECT phone_number FROM applicants<br>
                WHERE fullname LIKE %Jemima Foreman%</li></p>
            <p><li>DELETE FROM applicants<br>
                WHERE email LIKE %@mauriseu.net%</li></p>
        </ol>

    {% include 'footer.html' %}

{% endblock %}