{% extends "layout.html" %}

{% block content %}

    <form action="" method="post">
        {% for applicant in applicant_info %}
        <div>
            <label for="first_name">First name:</label><br>
            <input id="first_name" name="first_name" size="25" value="{{ applicant.first_name }}">
        </div>
        <div>
            <label for="last_name">Last name:</label><br>
            <input id="last_name" name="last_name" size="25" value="{{ applicant.last_name }}">
        </div>
        <div>
            <label for="phone_number">Phone number:</label><br>
            <input id="phone_number" name="phone_number" size="25" value="{{ applicant.phone_number }}">
        </div>
        <div>
            <label for="email">Email:</label><br>
            <input id="email" name="email" size="25" value="{{ applicant.email }}">
        </div>
        <div>
            <label for="application_code">Application code:</label><br>
            <input id="application_code" name="application_code" size="25" value="{{ applicant.application_code }}">
        </div>
        <div>
            <input type="submit" value="Edit applicant">
        </div>
        {% endfor %}
    </form>

    {% include 'footer.html' %}
{% endblock %}