{% extends "layout.html" %}

{% block content %}
    <div>
        <a href="{{ url_for('mentor_names') }}">Mentor names</a>
    </div>
    <div>
        <a href="{{ url_for('mentor_nicknames') }}">Miskolc mentor nicknames</a>
    </div>
     <div>
        <a href="{{ url_for('list_applicants') }}">Show all applicants</a>
    </div>
    <div>
        <a href="{{ url_for('find_applicant_by_first_name') }}">Find applicant by first name</a>
    </div>
    <div>
        <a href="{{ url_for('find_applicant_by_email') }}">Find applicant by email</a>
    </div>
    <div>
        <a href="{{ url_for('add_new_applicant') }}">Add new applicant</a>
    </div>
    <div>
        <a href="{{ url_for('show_schools_with_mentors') }}">Mentors and schools page</a>
    </div>
    <div>
        <a href="{{ url_for('show_all_schools_even_without_mentors') }}">All school page</a>
    </div>
    <div>
        <a href="{{ url_for('mentors_by_country') }}">Mentors by country</a>
    </div>
    <div>
        <a href="{{ url_for('lists_contacts_per_school') }}">Schools contacts</a>
    </div>
    <div>
        <a href="{{ url_for('applicants_date_of_application') }}">Applicants application</a>
    </div>
    <div>
        <a href="{{ url_for('applicants_and_mentors') }}">Applicants mentors</a>
    </div>
{% endblock %}